<h4>Ember S3/ElasticSearch Blog</h4>
<p>This site shows the efficiency of static S3 hosting, along with Elasticsearch.
You can view the network requests to verify that the data is infact coming from Elasticsearch.</p>
<br/>
<a href="http://www.github.com/seanstar12/ember-es-adapter">Github link</a>
