<div class="nav">
  <div class="nav__title">{{#link-to "posts"}}Ember S3 Blog{{/link-to}}</div>
  <ul class="nav__links">
    <li>{{#link-to "post" 1}}First{{/link-to}}</li>
    <li>{{#link-to "index" "nope"}}Error{{/link-to}}</li>
    <li>{{#link-to "index" "elasticsearch"}}ES{{/link-to}}</li>
    <li>{{#link-to "index" "about"}}About{{/link-to}}</li>
  </ul>
</div>
