<div class="nav">
  <div class="nav__title">Ember S3 Blog</div>
  <ul class="nav__links">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li>{{#link-to "posts"}}Posts{{/link-to}}</li>
    <li>{{#link-to "post" 1}}Post 1{{/link-to}}</li>
    <li>{{#link-to "post" 2}}Post 2{{/link-to}}</li>
    <li>{{#link-to "about"}}About{{/link-to}}</li>
  </ul>
</div>
